# Ignore compiled classes
/target/
*.class

# Ignore IntelliJ files
.idea/
*.iml

# Ignore logs
*.log

# Ignore Maven local environment
.mvn/

# Ignore environment files
.env
.env.*

# Ignore config backup
*.db
*.mv.db
*.trace.db
*.h2.db

# Ignore OS clutter
.DS_Store
Thumbs.db
